div > h1 {
    text-align: center;
}

div > div {
    background: var(--primary-background);
    padding: 2ch;
    margin: 1rem 0;
}

div > div > header > h5 {
    margin-top: 0;
}

.personal-projects > header > input[type="button"] {
    padding: .5rem;
    background: var(--clr-blue-button);
}

.personal-projects > header > h4 {
    display: inline-block;
    margin-right: 1rem;
}

