<div>
    <h1>Resume</h1>
    <h3>Work Experience</h3>
    <div class="job-experience">
        <header>
            <h4>Software Engineer (July 2021 - Present)</h4>
            <h5>Booz Allen Hamilton</h5>
        </header>
        <ul>
            <li>Created REST apis to store application data with Express and MongoDB</li>
            <li>Used REST api in front-end Angular applications</li>
            <li>Utilized 3rd party apis to achieve development features</li>
            <li>Lead a development team of 4 to 7 to create full stack web application on the MEAN (Mongo, Express, Angular, Node) stack</li>
            <li>Lead and participated in AGILE scrum meetings</li>
            <li>Utilized Jira and Bitbucket to organize development workflow</li>
            <li>Reviewed pull request to ensure coding standards and spot potential issues</li>
            <li>Lead project development meetings to organize and prioritize project objectives</li>
            <li>Presented applications to management with resounding success</li>
        </ul>
    </div>
    <div class="job-experience">
        <header>
            <h4>Software Engineer (June 2018 - July 2021)</h4>
            <h5>CACI Inc</h5>
        </header>
        <ul>
            <li>Developing microservices in Java and NodeJS</li>
            <li>Designed and created REST endpoints in Java using Dropwizard, Spring, and NodeJS using Express</li>
            <li>Implemented messaging layers primarily using SocketIO, CometD, TCP Sockets, Serial port communication</li>
            <li>Leveraged Git for version control and code review</li>
            <li>Leveraged Jira to track and prioritize issues</li>
            <li>Designed and created Postgres and MySQL schemas to persist data</li>
            <li>Designed and created multithreaded UI applications with AWT/Swing</li>
            <li>Interfaced directly with customers extract and fulfill customer requirements</li>
            <li>Virtualized system components for development with VirtualBox VMs and/or Docker</li>
            <li>Tracked down and fixed Front-end bugs and added features with AngularJS</li>
        </ul>
    </div>

    <h3>Tech Summary</h3>
    <div class="tech-summary">
        <ul>
            <li><b>Databases:</b> Postgres, MySQL, MongoDB</li>
            <li><b>Languages:</b> Java, JavaScript, TypeScript</li>
            <li><b>Backend:</b> Spring, DropWizard, Hibernate, Node, Express</li>
            <li><b>Messaging layers:</b> CometD, SocketIO, Kafka, Java TCP Sockets</li>
            <li><b>Front end:</b> Swing/AWT, AngularJS, Angular, HTML, CSS, JavaScript</li>
            <li><b>Virtualization:</b> VirtualBox, Docker</li>
            <li><b>Dev Tools:</b> Git, Jira, Maven</li>
            <li><b>Operating Systems:</b> Linux, MacOS</li>
        </ul>
    </div>

    <h3>Education</h3>
    <div class="education">
        <header>
            <h4>Bachelor fo Science in Computer Science</h4>
            <h5>SUNY Polytechnic Institute</h5>
        </header>
        <ul>
            <li>Graduated in May 2019</li>
            <li>GPA 3.83 in major related classes</li>
        </ul>
    </div>
    
    <h3>Personal Projects</h3>
    <div class="personal-projects">
        <header>
            <h4>RyanGloff.com</h4>
            <input type="button" onclick="location.href='https:\/\/github.com/RyanGloff/com.ryangloff';" class="button" value="View Source Code On GitHub"/>
        </header>
        <ul>
            <li>Sole creator of RyanGloff.com</li>
            <li>Angular front-end</li>
            <li>Typescript, Node, HTML, CSS</li>
        </ul>
    </div>
</div>