<div id="home-content">
    <img class="round" src="/assets/suit-photo.jpg" alt="Photo of me in a suit"/>
    <div>
        <h1>Hey!</h1>
        <p class="big-text">
            I'm Ryan. I'm a software engineer during the day and a volleyball player, golfer, and an inquiring mind
            on my free time.
        </p>
        <p>
            On this site I have my resume, a way to contact me and more to come as this site is under active
            development by me.
        </p>
    </div>
</div>