h1 {
    font-size: 3em;
}

.big-text {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

.round {
    border-radius: 50%;
}

#home-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}